.bgi-position-y-center {
      background-position-y: center;
    }
    .bgi-no-repeat {
      background-repeat: no-repeat;
    }
    .card {
      --bs-card-box-shadow: var(--bs-root-card-box-shadow);
      --bs-card-border-color: var(--bs-root-card-border-color);
      border: 1px solid var(--bs-card-border-color);
    }
    .pb-0 {
      padding-bottom: 0 !important;
    }
    .mb-10 {
      margin-bottom: 2.5rem !important;
    }
    .card {
      --bs-card-spacer-y: 1rem;
      --bs-card-spacer-x: 1rem;
      --bs-card-title-spacer-y: 0.5rem;
      --bs-card-title-color: var(--bs-gray-900);
      --bs-card-border-width: 1px;
      --bs-card-border-color: #F1F1F4;
      --bs-card-border-radius: 1.25rem;
      --bs-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
      --bs-card-inner-border-radius: calc(1.25rem - 1px);
      --bs-card-cap-padding-y: 0.5rem;
      --bs-card-cap-padding-x: 1rem;
      --bs-card-cap-bg: transparent;
      --bs-card-bg: var(--bs-body-bg);
      --bs-card-img-overlay-padding: 1rem;
      --bs-card-group-margin: 0.75rem;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      
      border-radius: 5px;
      box-shadow: var(--bs-card-box-shadow);
    }

    .card-header {
      padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
      margin-bottom: 0;
      color: var(--bs-card-cap-color);
      background-color: var(--bs-card-cap-bg);
      border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }

    .symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle > img {
      border-radius: 50%;
    }
    .symbol {
      display: inline-block;
      flex-shrink: 0;
      position: relative;
      border-radius: .75rem;
    }
    .me-5 {
      margin-right: 1.25rem !important;
    }
    .flex-column {
      flex-direction: column !important;
    }
    .d-flex {
      display: flex !important;
    }
    .mb-1 {
      margin-bottom: .25rem !important;
    }
    .text-muted {
      color: var(--bs-text-muted) !important;
    }
    .text-muted {
      --bs-text-opacity: 1;
      color: var(--bs-secondary-color) !important;
    }
    .fw-bold {
      font-weight: 600 !important;
    }

/*List observacion*/
div.column {
  float:left;
  margin-right:40px;
  width:100%;
}

div.column div.belief {
  text-align: left;
  line-height: 1.4em;
  font-size: 12px;
  overflow: hidden;
  margin: 20px 0;
}

div.column div.belief.top { margin-top: 0; }
div.column div.belief.bottom { margin-bottom: 0; }

div.column div.belief h3 { float: left; font-size: 42px; font-weight: 500; line-height: normal; margin: -10px 30px 0 0; color: #ccc; width: 30px; }

div.column div.belief h4 {
  font-size: 16px;
  margin: 5px 0;
  color: #1F1E2E;
}

div.column div.belief h5 {
  font-size: 13px;
  margin: 5px 0;
  color: #102c54;
}

div.column div.belief p {
  margin: 0 0 0 55px;
}
/*List observacion*/


/*List especialidades*/
           
.lstEspc {
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin-left: -40px;
}

.lstEspc li {
  display: block;
  position: relative;
}

.lstEspc li span {
  margin-left: 40px;
}

.lstEspc li:before {
  content: counter(item) " ";
  counter-increment: item;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  background: #181824;
  height: 2.1em;
  width: 2.1em;
  line-height: 2em;
  text-align: center;
  border-radius: 2em;
  font-weight: 700;
}
    

    

/*List especialidades*/