.fixed-bread{
    position: fixed;
    /*width: 89%;*/
    /*padding-bottom: 1500px;*/
    z-index: 1000;
    background: #d9e0e7;
    border-bottom: 1px solid #d9e0e7;
    padding: 10px 20px 10px 30px;
}

.content.content-full-width .page-header {
    margin: 0px 0px;
    /*position: relative;*/
    float: left;
    z-index: 10;
}

.static-menu{
    margin-left: 220px;
}

.breadcrumb {
    padding: 0px 25px 0px 0px;
    margin-left: 220px;
    background: 0 0;
}


.page-header {
    font-size: 24px;
    margin: 0 0 15px;
    padding: 0;
    border: none;
    line-height: 32px;
    font-weight: 500;
    float: left;
}

.breadcrumb .breadcrumb-item {
    line-height: 36px;
}

.breadcrumb .breadcrumb-header{
    /*font-size: 18px;
    line-height: 32px;
    font-weight: bold;*/

    font-size: 20px;
    margin: 0 0 15px;
    margin-bottom: 15px;
    padding: 0;
    border: none;
    line-height: 32px;
    font-weight: 500;
}

.clearfix{
    padding-top: 0px;
}

.content {
    margin-left: 220px;
    padding: 80px 30px;
}


ol.list-documentacion{
    padding: 0px;
}

ol.list-documentacion > li{
    line-height: 16px;
    padding-top: 7px;
}

.note .note-icon {
    width: 80px;
    font-size: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.note .note-content {
    padding: 10px 10px 0px 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


@media (max-width:767.98px) {
    .static-menu {
    margin-left:0;
    padding:0px 0px
    }

.breadcrumb {
    padding: 0px 25px 0px 0px;
    margin-left: 0px;
    background: 0 0;
}    

    .fixed-bread{
        position: fixed;
        width: 100%;
        /*padding-bottom: 1500px;*/
        z-index: 1000;
        background: #e7e7e7;
        border-bottom: 1px solid #ddd;
        padding: 10px 20px 10px 20px;
    }
    
    .content {
        margin-left: 0px;
        padding: 80px 30px;
    }

   }