@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

.tablabel {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-size: 15px;
}

.tablabel :before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}


.label1:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\f5fd';
  font-size: 17px;
}

.label2:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\f802';
  font-size: 17px;
}

.label3:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\e533';
  font-size: 17px;
}

.label4:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\f24e';
  font-size: 17px;
}

.label5:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\e53d';
  font-size: 17px;
}

.label6:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\f51e';
  font-size: 17px;
}

.label7:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  content: '\f2b9';
  font-size: 17px;
}

.tablabel :hover {
  color: #888;
  cursor: pointer;
}

input:checked + .tablabel {
  color: #181824;
  border: 1px solid #ddd;
  border-top: 4px solid #181824;
  border-bottom: 1px solid #fff;
  font-size: 16px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
  display: block;
}

@media screen and (max-width: 650px) {
  .tablabel {
    font-size: 0;
  }

  .tablabel:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tablabel {
    padding: 15px;
  }
}


.inp-udi
  {
    /*font-weight: 700;*/
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px 0 #CACACA;
    border-radius: .5em;
  }